Getting Data

csv: https://www.kaggle.com/datasets/edomingo/bicing-stations-dataset-bcn-bike-sharing/data?select=2023_01_STATIONS.csv
csv ESTACIONS NOVES: https://opendata-ajuntament.barcelona.cat/data/en/dataset/estat-estacions-bicing
json file with station names:https://opendata-ajuntament.barcelona.cat/data/es/dataset/informacio-estacions-bicing

In [12]:
import pandas as pd

df_bicing1 = pd.read_csv('data/2023_01_STATIONS.csv')

df_bicing1.head(5)

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl
0,1,38,35,3,8,1672527561,True,IN_SERVICE,1,1,1,NaN,1672527593,19
1,2,6,5,1,23,1672527391,True,IN_SERVICE,1,1,1,NaN,1672527593,19
2,3,20,20,0,7,1672527440,True,IN_SERVICE,1,1,1,NaN,1672527593,19
3,4,19,19,0,2,1672527516,True,IN_SERVICE,1,1,1,NaN,1672527593,19
4,5,4,3,1,35,1672527342,True,IN_SERVICE,1,1,1,NaN,1672527593,19

In [13]:
df_bicing3 = pd.read_csv('data/2024_01_Gener_BicingNou_ESTACIONS.csv')
df_bicing3.head()

/var/folders/r2/m617yygs46q4sg5bxxgr4c6r0000gn/T/ipykernel_38839/616767393.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_bicing3 = pd.read_csv('data/2024_01_Gener_BicingNou_ESTACIONS.csv')

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl,V1
0,1.0,12.0,2.0,10.0,33.0,1.704064e+09,True,IN_SERVICE,1.0,1.0,1.0,NaN,1.704064e+09,0.0,NaN
1,2.0,11.0,10.0,1.0,15.0,1.704063e+09,True,IN_SERVICE,1.0,1.0,1.0,NaN,1.704064e+09,0.0,NaN
2,3.0,5.0,5.0,0.0,20.0,1.704063e+09,True,IN_SERVICE,1.0,1.0,1.0,NaN,1.704064e+09,0.0,NaN
3,4.0,8.0,8.0,0.0,11.0,1.704063e+09,True,IN_SERVICE,1.0,1.0,1.0,NaN,1.704064e+09,0.0,NaN
4,5.0,11.0,11.0,0.0,28.0,1.704063e+09,True,IN_SERVICE,1.0,1.0,1.0,NaN,1.704064e+09,0.0,NaN

In [14]:
df_bicing1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4064084 entries, 0 to 4064083
Data columns (total 14 columns):
 #   Column                                Dtype
---  ------                                -----
 0   station_id                            int64
 1   num_bikes_available                   int64
 2   num_bikes_available_types.mechanical  int64
 3   num_bikes_available_types.ebike       int64
 4   num_docks_available                   int64
 5   last_reported                         int64
 6   is_charging_station                   bool
 7   status                                object
 8   is_installed                          int64
 9   is_renting                            int64
 10  is_returning                          int64
 11  traffic                               float64
 12  last_updated                          int64
 13  ttl                                   int64
dtypes: bool(1), float64(1), int64(11), object(1)
memory usage: 407.0+ MB

In [15]:
import json
with open('data/tokens.json', 'r') as f:
    raw_json = json.load(f)

df_stations = pd.json_normalize(raw_json['data'], record_path='stations')


df_stations.tail(20)

,station_id,name,physical_configuration,lat,lon,altitude,address,cross_street,post_code,capacity,is_charging_station,short_name,nearby_distance,_ride_code_support,rental_uris,is_valet_station
495,510,"C/ GRAN DE GRÀCIA, 37",ELECTRICBIKESTATION,41.398915,2.156425,55.0,"C/ GRAN DE GRÀCIA, 37",06-Gràcia/31-la Vila de Gràcia,08012,27,True,510,1000.0,True,None,NaN
496,511,"C/ GRAN DE GRÀCIA, 91",ELECTRICBIKESTATION,41.400686,2.154332,61.0,"C/ GRAN DE GRÀCIA, 91",06-Gràcia/31-la Vila de Gràcia,08012,20,True,511,1000.0,True,None,NaN
497,512,"C/ D'ALACANT, 12",ELECTRICBIKESTATION,41.400078,2.132691,96.0,"C/ D'ALACANT, 12",05-Sarrià-StGervasi/24-les Tres Torres,08017,27,True,512,1000.0,True,None,NaN
498,513,"VIA AUGUSTA, 317",ELECTRICBIKESTATION,41.399017,2.124329,111.0,"VIA AUGUSTA, 317",05-Sarrià-StGervasi/24-les Tres Torres,08017,28,True,513,1000.0,True,None,NaN
499,514,"C/ ARAGÓ, 614",ELECTRICBIKESTATION,41.409507,2.188506,16.0,"C/ ARAGÓ, 614",10-SantMartí/65-el Clot,08018,18,True,514,1000.0,True,None,NaN
500,515,"C/ SANT ADRIÀ, 43",ELECTRICBIKESTATION,41.435207,2.194800,19.0,"C/ SANT ADRIÀ, 43",09-SantAndreu/59-el Bon Pastor,08030,24,True,515,1000.0,True,None,NaN
501,516,"C/ SANT ADRIÀ, 88",ELECTRICBIKESTATION,41.435460,2.200157,15.0,"C/ SANT ADRIÀ, 88",09-SantAndreu/59-el Bon Pastor,08030,21,True,516,1000.0,True,None,NaN
502,517,"AV. RASOS DE PEGUERA, 10",ELECTRICBIKESTATION,41.462095,2.178959,44.0,"AV. RASOS DE PEGUERA, 10",08-NouBarris/55-Ciutat Meridiana,08033,20,True,517,1000.0,True,None,NaN
503,518,"C/ LLOBREGÓS, 115",ELECTRICBIKESTATION,41.424689,2.157049,112.0,"C/ LLOBREGÓS, 115",07-Horta-Guinardó/37-el Carmel,08032,27,True,518,1000.0,True,None,NaN
504,519,"C/ PEDRELL, 52",ELECTRICBIKESTATION,41.424655,2.166289,110.0,"C/ PEDRELL, 52",07-Horta-Guinardó/36-la Font d'en Fargues,08032,24,True,519,1000.0,True,None,NaN
505,526,C/ TARONGERS | AV. MIRAMAR (TELEFÈRIC),ELECTRICBIKESTATION,41.368386,2.164504,93.0,C/ TARONGERS | AV. MIRAMAR (TELEFÈRIC),03-Sants-Montjuïc/11-el Poble-sec,08038,27,True,526,1000.0,True,None,NaN
506,527,"PG. OLIMPIC, 8",ELECTRICBIKESTATION,41.361973,2.154322,NaN,"PG. OLIMPIC, 8",03-Sants-Montjuïc/11-el Poble-sec,08038,36,True,527,1000.0,True,None,NaN
507,537,"AV. ESTADI, 12",ELECTRICBIKESTATION,41.365360,2.147610,75.0,"AV. ESTADI, 12",03-Sants-Montjuïc/11-el Poble-sec,08038,40,True,523,1000.0,True,None,NaN
508,538,"AV. ESTADI, 38",ELECTRICBIKESTATION,41.366315,2.152206,86.0,"AV. ESTADI, 38",03-Sants-Montjuïc/11-el Poble-sec,08038,24,True,522,1000.0,True,None,NaN
509,539,"C/ FRANÇA XICA, 4",ELECTRICBIKESTATION,41.372175,2.160215,26.0,"C/ FRANÇA XICA, 4",03-Sants-Montjuïc/11-el Poble-sec,08004,16,True,525,1.0,True,None,NaN
510,540,"C/ MANDONI, 6",ELECTRICBIKESTATION,41.369348,2.142601,18.0,"C/ MANDONI, 6",03-Sants-Montjuïc/14-la Font de la Guatlla,08004,20,True,521,1.0,True,None,NaN
511,541,"C/ MARBRE, 2",ELECTRICBIKESTATION,41.361416,2.147617,28.0,"C/ MARBRE, 2",03-Sants-Montjuïc/13-la Marina de Port,08038,28,True,524,1000.0,True,None,NaN
512,542,Copa América Barcelona - 542,VALET,41.374538,2.189217,NaN,Copa América Barcelona 2024,NaN,NaN,1,False,9000,1.0,True,None,False
513,543,Copa América Barcelona - 543,VALET,41.383830,2.191371,NaN,Copa América Barcelona 2024,NaN,NaN,1,False,9001,1.0,True,None,False
514,544,"C/ MONTFAR, 1",ELECTRICBIKESTATION,41.370490,2.148729,NaN,"C/ MONTFAR, 1",03-Sants-Montjuïc/14-la Font de la Guatlla,08004,24,True,520,1000.0,True,None,NaN

Defining 30-50 most popular bike stations

In [16]:
df_bicing3['last_reported'] = pd.to_datetime(df_bicing3['last_reported'], unit = 's')

In [17]:
df_bicing3.sort_values(['station_id', 'last_reported'], inplace=True)

In [18]:
df_bicing3['bike_diff'] = df_bicing3.groupby('station_id')['num_bikes_available'].diff()

In [19]:
df_bicing3['checkouts'] = df_bicing3['bike_diff'].apply(lambda x: abs(x) if x < 0 else 0)
checkouts_by_station = df_bicing3.groupby('station_id')['checkouts'].sum().reset_index()

In [20]:
# Calcular la tasa de ocupación para cada registro
df_bicing3['occupancy'] = df_bicing3['num_bikes_available'] / (df_bicing3['num_bikes_available'] + df_bicing3['num_docks_available'])

# Calcular la ocupación promedio por estación
occupancy_by_station = df_bicing3.groupby('station_id')['occupancy'].mean().reset_index()

# Combinar ambos indicadores
station_stats = checkouts_by_station.merge(occupancy_by_station, on='station_id')

In [21]:
# Ordenar estaciones por checkouts y mostrar las top 30-50
top_checkouts = station_stats.sort_values(by='checkouts', ascending=False).head(50)
print("Top 50 por checkouts:")
print(top_checkouts)

Top 50 por checkouts:
     station_id  checkouts  occupancy
39         42.0     5259.0   0.428225
212       220.0     4131.0   0.382965
382       390.0     4003.0   0.515244
76         80.0     3890.0   0.397553
69         73.0     3838.0   0.470903
215       223.0     3735.0   0.319777
356       364.0     3710.0   0.572875
27         29.0     3678.0   0.375864
218       226.0     3623.0   0.403315
354       362.0     3609.0   0.462094
64         68.0     3531.0   0.425967
222       230.0     3477.0   0.461390
365       373.0     3436.0   0.430891
311       319.0     3414.0   0.410343
113       118.0     3371.0   0.495511
75         79.0     3324.0   0.376201
221       229.0     3310.0   0.341920
80         84.0     3290.0   0.368177
500       510.0     3275.0   0.329654
68         72.0     3256.0   0.485154
180       188.0     3251.0   0.407252
363       371.0     3246.0   0.560055
387       395.0     3239.0   0.418596
118       123.0     3237.0   0.312112
103       108.0     3227.0   0.412787
429       438.0     3214.0   0.377347
214       222.0     3211.0   0.352327
160       165.0     3202.0   0.752214
72         76.0     3192.0   0.399529
434       443.0     3179.0   0.390884
114       119.0     3178.0   0.403958
49         52.0     3136.0   0.435556
38         41.0     3129.0   0.519285
148       153.0     3122.0   0.532982
61         65.0     3116.0   0.473598
85         89.0     3100.0   0.313878
216       224.0     3092.0   0.385487
79         83.0     3077.0   0.461509
143       148.0     3075.0   0.398161
405       414.0     3058.0   0.432952
89         94.0     3044.0   0.365998
351       359.0     3038.0   0.410608
24         26.0     3008.0   0.486632
144       149.0     2998.0   0.371783
57         61.0     2992.0   0.406705
22         24.0     2990.0   0.434714
107       112.0     2986.0   0.360464
102       107.0     2981.0   0.306267
101       106.0     2973.0   0.315747
362       370.0     2969.0   0.422986

In [22]:
# Ordenar estaciones por ocupación (por ejemplo, aquellas que siempre están casi llenas o vacías)
top_occupancy = station_stats.sort_values(by='occupancy', ascending=False).head(50)
print("Top 50 por ocupación:")
print(top_occupancy)

Top 50 por ocupación:
     station_id  checkouts  occupancy
370       378.0     1858.0   0.831115
54         57.0     1188.0   0.780952
160       165.0     3202.0   0.752214
372       380.0     1171.0   0.702607
52         55.0     2016.0   0.700669
50         53.0     1865.0   0.670472
332       340.0      626.0   0.653244
121       126.0     2091.0   0.616631
34         36.0     1968.0   0.608299
447       457.0      282.0   0.606328
256       264.0     1092.0   0.603579
373       381.0     1757.0   0.583433
356       364.0     3710.0   0.572875
158       163.0     2531.0   0.570281
161       166.0     2457.0   0.568956
177       185.0     1890.0   0.568955
35         37.0     1665.0   0.565253
33         35.0     1423.0   0.564193
437       446.0     1972.0   0.561962
363       371.0     3246.0   0.560055
163       168.0     1707.0   0.555039
248       256.0      881.0   0.553688
333       341.0      562.0   0.552308
109       114.0     1837.0   0.551602
259       267.0      509.0   0.547071
331       339.0     2789.0   0.545624
255       263.0      985.0   0.544723
31         33.0     2400.0   0.540430
127       132.0     1955.0   0.534589
358       366.0     2122.0   0.534351
507       517.0      201.0   0.533909
148       153.0     3122.0   0.532982
272       280.0     2904.0   0.532212
73         77.0     2762.0   0.530964
152       157.0      946.0   0.527571
29         31.0     2060.0   0.526592
126       131.0     1880.0   0.524453
251       259.0     1362.0   0.523909
32         34.0     2338.0   0.523823
337       345.0     1509.0   0.522667
51         54.0     2114.0   0.521750
154       159.0     1850.0   0.520123
167       174.0      791.0   0.519987
38         41.0     3129.0   0.519285
384       392.0     1971.0   0.518550
394       402.0     1349.0   0.516517
382       390.0     4003.0   0.515244
388       396.0     1156.0   0.513363
65         69.0     1424.0   0.511952
335       343.0     1063.0   0.511746

In [23]:
top_occupancy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 370 to 335
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   station_id  50 non-null     float64
 1   checkouts   50 non-null     float64
 2   occupancy   50 non-null     float64
dtypes: float64(3)
memory usage: 1.6 KB

Combine Checkouts and Occupancy Rankings

In [24]:
top_checkout_ids = set(top_checkouts['station_id'])
top_occupancy_ids = set(top_occupancy['station_id'])

common_top_stations = list(top_checkout_ids.intersection(top_occupancy_ids))
print("Common top stations:", common_top_stations)

Common top stations: [165.0, 390.0, 41.0, 364.0, 371.0, 153.0]

In [25]:
desired_num_stations = 50

final_stations = common_top_stations.copy()

for station in top_checkouts['station_id']:
    if len(final_stations) >= desired_num_stations:
        break
    if station not in final_stations:
        final_stations.append(station)

print("Final selected stations:", final_stations)

Final selected stations: [165.0, 390.0, 41.0, 364.0, 371.0, 153.0, 42.0, 220.0, 80.0, 73.0, 223.0, 29.0, 226.0, 362.0, 68.0, 230.0, 373.0, 319.0, 118.0, 79.0, 229.0, 84.0, 510.0, 72.0, 188.0, 395.0, 123.0, 108.0, 438.0, 222.0, 76.0, 443.0, 119.0, 52.0, 65.0, 89.0, 224.0, 83.0, 148.0, 414.0, 94.0, 359.0, 26.0, 149.0, 61.0, 24.0, 112.0, 107.0, 106.0, 370.0]

In [26]:
df_selected = df_bicing3[df_bicing3['station_id'].isin(final_stations)].copy()


print("Stations after filtering:", df_selected['station_id'].nunique())

Stations after filtering: 50

In [27]:
df_selected.tail()

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl,V1,bike_diff,checkouts,occupancy
4367715,510.0,4.0,0.0,4.0,21.0,2024-01-31 22:51:18,True,IN_SERVICE,1.0,1.0,1.0,NaN,1.706742e+09,0.0,NaN,0.0,0.0,0.16
4368225,510.0,6.0,0.0,6.0,19.0,2024-01-31 22:55:41,True,IN_SERVICE,1.0,1.0,1.0,NaN,1.706742e+09,0.0,NaN,2.0,0.0,0.24
4368735,510.0,6.0,0.0,6.0,19.0,2024-01-31 23:04:19,True,IN_SERVICE,1.0,1.0,1.0,NaN,1.706742e+09,0.0,NaN,0.0,0.0,0.24
4369245,510.0,6.0,0.0,6.0,19.0,2024-01-31 23:08:35,True,IN_SERVICE,1.0,1.0,1.0,NaN,1.706743e+09,0.0,NaN,0.0,0.0,0.24
4369755,510.0,5.0,0.0,5.0,20.0,2024-01-31 23:12:53,True,IN_SERVICE,1.0,1.0,1.0,NaN,1.706743e+09,0.0,NaN,-1.0,1.0,0.20

In [28]:
df_selected.info()

<class 'pandas.core.frame.DataFrame'>
Index: 430038 entries, 22 to 4369755
Data columns (total 18 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   station_id                            430038 non-null  float64
 1   num_bikes_available                   430038 non-null  float64
 2   num_bikes_available_types.mechanical  430038 non-null  float64
 3   num_bikes_available_types.ebike       430038 non-null  float64
 4   num_docks_available                   430038 non-null  float64
 5   last_reported                         430038 non-null  datetime64[ns]
 6   is_charging_station                   430038 non-null  object
 7   status                                430038 non-null  object
 8   is_installed                          430038 non-null  float64
 9   is_renting                            430038 non-null  float64
 10  is_returning                          430038 non-null  float64
 11  traffic                               0 non-null       float64
 12  last_updated                          430038 non-null  float64
 13  ttl                                   430038 non-null  float64
 14  V1                                    0 non-null       float64
 15  bike_diff                             429988 non-null  float64
 16  checkouts                             430038 non-null  float64
 17  occupancy                             429907 non-null  float64
dtypes: datetime64[ns](1), float64(15), object(2)
memory usage: 62.3+ MB

Combining the code into a function

In [29]:
def select_top_stations(df, desired_num_stations=50):
    """
    Filters the input DataFrame to only include the top 'desired_num_stations' stations,
    based on a combination of total checkouts and occupancy rate.

    Parameters:
        df (pd.DataFrame): The input DataFrame containing Bicing data with columns:
                           'last_reported' (unix timestamp), 'station_id', 
                           'num_bikes_available', and 'num_docks_available'.
        desired_num_stations (int): The number of top stations to select.

    Returns:
        final_stations (list): A list of station_ids for the selected top stations.
    """
    # Create a copy to avoid modifying the original DataFrame
    df_copy = df.copy()
    
    # Convert 'last_reported' to datetime
    df_copy['last_reported'] = pd.to_datetime(df_copy['last_reported'], unit='s')
    
    # Sort the DataFrame by station and time
    df_copy.sort_values(['station_id', 'last_reported'], inplace=True)
    
    # Compute the difference in available bikes per station over time
    df_copy['bike_diff'] = df_copy.groupby('station_id')['num_bikes_available'].diff()
    
    # Calculate checkouts: if bikes_available drops, that's a checkout
    df_copy['checkouts'] = df_copy['bike_diff'].apply(lambda x: abs(x) if x < 0 else 0)
    
    # Aggregate total checkouts per station
    checkouts_by_station = df_copy.groupby('station_id')['checkouts'].sum().reset_index()
    
    # Calculate occupancy for each record (occupancy = available bikes / total capacity)
    df_copy['occupancy'] = df_copy['num_bikes_available'] / (
        df_copy['num_bikes_available'] + df_copy['num_docks_available']
    )
    
    # Compute the average occupancy per station
    occupancy_by_station = df_copy.groupby('station_id')['occupancy'].mean().reset_index()
    
    # Merge checkouts and occupancy into a single DataFrame for ranking
    station_stats = checkouts_by_station.merge(occupancy_by_station, on='station_id')
    
    # Rank stations by checkouts
    top_checkouts = station_stats.sort_values(by='checkouts', ascending=False).head(desired_num_stations)
    print(f"Top {desired_num_stations} by checkouts:")
    print(top_checkouts)
    
    # Rank stations by occupancy
    top_occupancy = station_stats.sort_values(by='occupancy', ascending=False).head(desired_num_stations)
    print(f"Top {desired_num_stations} by occupancy:")
    print(top_occupancy)
    
    # Identify common top stations from both rankings
    top_checkout_ids = set(top_checkouts['station_id'])
    top_occupancy_ids = set(top_occupancy['station_id'])
    common_top_stations = list(top_checkout_ids.intersection(top_occupancy_ids))
    print("Common top stations:", common_top_stations)
    
    # Fill up the final station list until the desired count is reached,
    # prioritizing stations from the top checkouts ranking
    final_stations = common_top_stations.copy()
    for station in top_checkouts['station_id']:
        if len(final_stations) >= desired_num_stations:
            break
        if station not in final_stations:
            final_stations.append(station)
    
    print("Final selected stations:", final_stations)
    
    return final_stations

Concancating six datasets into one (6 datasets represents 6 months of Bicing data from August 2024 to January 2025)

In [34]:
## Import 6 months data
df_august = pd.read_csv('data/2024_08_Agost_BicingNou_ESTACIONS.csv')
df_september = pd.read_csv('data/2024_09_Setembre_BicingNou_ESTACIONS.csv')
df_october = pd.read_csv('data/2024_10_Octubre_BicingNou_ESTACIONS.csv')
df_november = pd.read_csv('data/2024_11_Novembre_BicingNou_ESTACIONS.csv')
df_december = pd.read_csv('data/2024_12_Desembre_BicingNou_ESTACIONS.csv')
df_january = pd.read_csv('data/2025_01_Gener_BicingNou_ESTACIONS.csv')

/var/folders/r2/m617yygs46q4sg5bxxgr4c6r0000gn/T/ipykernel_38839/2268789601.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_august = pd.read_csv('data/2024_08_Agost_BicingNou_ESTACIONS.csv')
/var/folders/r2/m617yygs46q4sg5bxxgr4c6r0000gn/T/ipykernel_38839/2268789601.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_september = pd.read_csv('data/2024_09_Setembre_BicingNou_ESTACIONS.csv')
/var/folders/r2/m617yygs46q4sg5bxxgr4c6r0000gn/T/ipykernel_38839/2268789601.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_october = pd.read_csv('data/2024_10_Octubre_BicingNou_ESTACIONS.csv')
/var/folders/r2/m617yygs46q4sg5bxxgr4c6r0000gn/T/ipykernel_38839/2268789601.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_november = pd.read_csv('data/2024_11_Novembre_BicingNou_ESTACIONS.csv')
/var/folders/r2/m617yygs46q4sg5bxxgr4c6r0000gn/T/ipykernel_38839/2268789601.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_december = pd.read_csv('data/2024_12_Desembre_BicingNou_ESTACIONS.csv')
/var/folders/r2/m617yygs46q4sg5bxxgr4c6r0000gn/T/ipykernel_38839/2268789601.py:7: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_january = pd.read_csv('data/2025_01_Gener_BicingNou_ESTACIONS.csv')

In [35]:
## Concat the 6-month data into one df
df_six = pd.concat([df_august, df_september, df_october, df_november, df_december, df_january])

In [37]:
df_six.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26841007 entries, 0 to 4560096
Data columns (total 15 columns):
 #   Column                                Dtype
---  ------                                -----
 0   station_id                            float64
 1   num_bikes_available                   float64
 2   num_bikes_available_types.mechanical  float64
 3   num_bikes_available_types.ebike       float64
 4   num_docks_available                   float64
 5   last_reported                         float64
 6   is_charging_station                   object
 7   status                                object
 8   is_installed                          float64
 9   is_renting                            float64
 10  is_returning                          float64
 11  traffic                               float64
 12  last_updated                          float64
 13  ttl                                   float64
 14  V1                                    float64
dtypes: float64(13), object(2)
memory usage: 3.2+ GB

Filtering the combined dataset to 50 most popular stations

In [39]:

final_stations = select_top_stations(df_bicing3, desired_num_stations=50)


df_filtered = df_six[df_six['station_id'].isin(final_stations)]

Top 50 by checkouts:
     station_id  checkouts  occupancy
39         42.0     5259.0   0.428225
212       220.0     4131.0   0.382965
382       390.0     4003.0   0.515244
76         80.0     3890.0   0.397553
69         73.0     3838.0   0.470903
215       223.0     3735.0   0.319777
356       364.0     3710.0   0.572875
27         29.0     3678.0   0.375864
218       226.0     3623.0   0.403315
354       362.0     3609.0   0.462094
64         68.0     3531.0   0.425967
222       230.0     3477.0   0.461390
365       373.0     3436.0   0.430891
311       319.0     3414.0   0.410343
113       118.0     3371.0   0.495511
75         79.0     3324.0   0.376201
221       229.0     3310.0   0.341920
80         84.0     3290.0   0.368177
500       510.0     3275.0   0.329654
68         72.0     3256.0   0.485154
180       188.0     3251.0   0.407252
363       371.0     3246.0   0.560055
387       395.0     3239.0   0.418596
118       123.0     3237.0   0.312112
103       108.0     3227.0   0.412787
429       438.0     3214.0   0.377347
214       222.0     3211.0   0.352327
160       165.0     3202.0   0.752214
72         76.0     3192.0   0.399529
434       443.0     3179.0   0.390884
114       119.0     3178.0   0.403958
49         52.0     3136.0   0.435556
38         41.0     3129.0   0.519285
148       153.0     3122.0   0.532982
61         65.0     3116.0   0.473598
85         89.0     3100.0   0.313878
216       224.0     3092.0   0.385487
79         83.0     3077.0   0.461509
143       148.0     3075.0   0.398161
405       414.0     3058.0   0.432952
89         94.0     3044.0   0.365998
351       359.0     3038.0   0.410608
24         26.0     3008.0   0.486632
144       149.0     2998.0   0.371783
57         61.0     2992.0   0.406705
22         24.0     2990.0   0.434714
107       112.0     2986.0   0.360464
102       107.0     2981.0   0.306267
101       106.0     2973.0   0.315747
362       370.0     2969.0   0.422986
Top 50 by occupancy:
     station_id  checkouts  occupancy
370       378.0     1858.0   0.831115
54         57.0     1188.0   0.780952
160       165.0     3202.0   0.752214
372       380.0     1171.0   0.702607
52         55.0     2016.0   0.700669
50         53.0     1865.0   0.670472
332       340.0      626.0   0.653244
121       126.0     2091.0   0.616631
34         36.0     1968.0   0.608299
447       457.0      282.0   0.606328
256       264.0     1092.0   0.603579
373       381.0     1757.0   0.583433
356       364.0     3710.0   0.572875
158       163.0     2531.0   0.570281
161       166.0     2457.0   0.568956
177       185.0     1890.0   0.568955
35         37.0     1665.0   0.565253
33         35.0     1423.0   0.564193
437       446.0     1972.0   0.561962
363       371.0     3246.0   0.560055
163       168.0     1707.0   0.555039
248       256.0      881.0   0.553688
333       341.0      562.0   0.552308
109       114.0     1837.0   0.551602
259       267.0      509.0   0.547071
331       339.0     2789.0   0.545624
255       263.0      985.0   0.544723
31         33.0     2400.0   0.540430
127       132.0     1955.0   0.534589
358       366.0     2122.0   0.534351
507       517.0      201.0   0.533909
148       153.0     3122.0   0.532982
272       280.0     2904.0   0.532212
73         77.0     2762.0   0.530964
152       157.0      946.0   0.527571
29         31.0     2060.0   0.526592
126       131.0     1880.0   0.524453
251       259.0     1362.0   0.523909
32         34.0     2338.0   0.523823
337       345.0     1509.0   0.522667
51         54.0     2114.0   0.521750
154       159.0     1850.0   0.520123
167       174.0      791.0   0.519987
38         41.0     3129.0   0.519285
384       392.0     1971.0   0.518550
394       402.0     1349.0   0.516517
382       390.0     4003.0   0.515244
388       396.0     1156.0   0.513363
65         69.0     1424.0   0.511952
335       343.0     1063.0   0.511746
Common top stations: [165.0, 390.0, 41.0, 364.0, 371.0, 153.0]
Final selected stations: [165.0, 390.0, 41.0, 364.0, 371.0, 153.0, 42.0, 220.0, 80.0, 73.0, 223.0, 29.0, 226.0, 362.0, 68.0, 230.0, 373.0, 319.0, 118.0, 79.0, 229.0, 84.0, 510.0, 72.0, 188.0, 395.0, 123.0, 108.0, 438.0, 222.0, 76.0, 443.0, 119.0, 52.0, 65.0, 89.0, 224.0, 83.0, 148.0, 414.0, 94.0, 359.0, 26.0, 149.0, 61.0, 24.0, 112.0, 107.0, 106.0, 370.0]

In [40]:

df_filtered.head()

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl,V1
22,24.0,18.0,13.0,5.0,17.0,1.722463e+09,True,IN_SERVICE,1.0,1.0,1.0,NaN,1.722463e+09,0.0,NaN
24,26.0,7.0,5.0,2.0,9.0,1.722463e+09,True,IN_SERVICE,1.0,1.0,1.0,NaN,1.722463e+09,0.0,NaN
27,29.0,3.0,0.0,3.0,9.0,1.722463e+09,True,IN_SERVICE,1.0,1.0,1.0,NaN,1.722463e+09,0.0,NaN
38,41.0,20.0,19.0,1.0,3.0,1.722463e+09,True,IN_SERVICE,1.0,1.0,1.0,NaN,1.722463e+09,0.0,NaN
39,42.0,3.0,0.0,3.0,9.0,1.722463e+09,True,IN_SERVICE,1.0,1.0,1.0,NaN,1.722463e+09,0.0,NaN

In [41]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2601491 entries, 22 to 4560079
Data columns (total 15 columns):
 #   Column                                Dtype
---  ------                                -----
 0   station_id                            float64
 1   num_bikes_available                   float64
 2   num_bikes_available_types.mechanical  float64
 3   num_bikes_available_types.ebike       float64
 4   num_docks_available                   float64
 5   last_reported                         float64
 6   is_charging_station                   object
 7   status                                object
 8   is_installed                          float64
 9   is_renting                            float64
 10  is_returning                          float64
 11  traffic                               float64
 12  last_updated                          float64
 13  ttl                                   float64
 14  V1                                    float64
dtypes: float64(13), object(2)
memory usage: 317.6+ MB

Saving the combined and filtered dataset to csv

In [42]:
df_filtered.to_csv('50_bicing_stations_2024_08_to_2025_01.csv', index=False)

Adding Weather Data into the dataset

In [10]:
from datetime import datetime
from meteostat import Point, Hourly
import pandas as pd


start = datetime(2024, 8, 1)
end = datetime(2025, 1, 31, 23, 59)


barcelona = Point(41.3851, 2.1734)

# Fetch hourly data for Barcelona
data = Hourly(barcelona, start, end)
data = data.fetch()

# Reset index to convert time to column
data.reset_index(inplace=True)

# Simplify weather conditions using Meteostat's weather codes
# Meteostat weather codes reference: https://dev.meteostat.net/formats.html#weather-condition-codes
weather_mapping = {
    1: 'clear',     # Clear
    2: 'clear',     # Fair
    3: 'cloudy',    # Cloudy
    4: 'cloudy',    # Overcast
    5: 'cloudy',    # Fog
    6: 'rain',      # Freezing Fog
    7: 'rain',      # Light Rain
    8: 'rain',      # Rain
    9: 'rain',      # Heavy Rain
    10: 'rain',     # Freezing Rain
    11: 'rain',     # Heavy Freezing Rain
    12: 'rain',     # Sleet
    13: 'snow',     # Heavy Sleet
    14: 'snow',     # Light Snowfall
    15: 'snow',     # Snowfall
    16: 'snow',     # Heavy Snowfall
    17: 'storm',    # Rain Shower
    18: 'storm',    # Heavy Rain Shower
    19: 'storm',    # Sleet Shower
    20: 'storm',    # Heavy Sleet Shower
    21: 'snow',     # Snow Shower
    22: 'snow',     # Heavy Snow Shower
    23: 'storm',    # Lightning
    24: 'storm',    # Hail
    25: 'storm',    # Thunderstorm
    26: 'storm',    # Heavy Thunderstorm
    27: 'storm'     # Storm
}

# Apply mapping to Meteostat weather codes
data['weather_category'] = data['coco'].map(weather_mapping)

# Keep and rename useful columns
data_final = data[['time', 'temp', 'prcp', 'wspd', 'weather_category']].copy()
data_final.columns = ['timestamp', 'temperature', 'precipitation', 'wind_speed', 'weather_category']

# Save to CSV
data_final.to_csv("barcelona_weather_2024_08_to_2025_01.csv", index=False)

print("Weather data collected and saved.")
print(data_final.head())

Weather data collected and saved.
            timestamp  temperature  precipitation  wind_speed weather_category
0 2024-08-01 00:00:00         24.0            0.0         7.6            clear
1 2024-08-01 01:00:00         24.0            0.0         5.4            clear
2 2024-08-01 02:00:00         24.0            0.0         7.6            clear
3 2024-08-01 03:00:00         23.0            0.0         1.8            clear
4 2024-08-01 04:00:00         23.0            0.0         5.4            clear

FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.